name: gitleaks

on:
  pull_request:
    branches: [ "**" ]
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  scan:
    name: Detect secrets with gitleaks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: "detect --no-banner --redact --config=.gitleaks.toml --report-format sarif --report-path gitleaks.sarif"

      - name: Upload SARIF report
        if: always()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: gitleaks.sarif

